.group_barchart_card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
  min-height: 300px;
}

h2.group_barchart_h2 {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0 0 10px;
}

.group_barchart_total {
  font-weight: bold;
}

.group_barchart_logo_wrapper {
  padding: 5px;
  min-width: 60px;
}

.group_barchart_info_wrapper {
  padding: 0;
  width: 100%;
}

.group_detail_link {
  width: 100%;
}
